/* body {
    display: flex;
    flex-direction: column;
} */

img {
    width: 15rem;
}

.favicon-icon {
    width: 2rem;
}

.title {
    /* margin-left: 0; */
    margin-right: 1.8rem
        /* margin: 0.5rem 2rem 0rem; */
}

.meal-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .meal-div>* {
    display: flex;
    flex-direction: column;
} */