body {
    display: flex;
    flex-direction: column;
}

img {
    width: 10rem;
}

.meal-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}