@font-face {
    font-family: 'Voga';
    src: url('../public/fonts/Voga-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #111827;
    font-family: 'Voga', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.login-reg {
    /* background-image: url('imgs/bg-1.avif'); */
    /* background-image: url('imgs/bg-2.jpg'); */
    background-image: url('imgs/bg-3.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.home {
    background: #111827;
    background-image: url('./imgs/bg-home2.jpg');
    background-size: cover;
}

.home-rev {
    background: #111827;
    background-image: url('./imgs/bg-home-rev.jpg');
    background-size: cover;
}

.home-cut {
    background: #111827;
    background-image: url('./imgs/bg-home-cut.jpg');
    background-size: cover;
}

.discover {
    background-image: url('./imgs/pumpkin.jpg');
    background-size: contain;

}